<h1><%= t 'activerecord.models.category' %><%= t :list %></h1>

<table class="grid">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.category.name' %></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, "/categories/#{category.id}" %></td>
      </tr>
    <% end %>
    <% if @categories.empty? %>
      <tr>
        <td><%= t :empty %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="/categories/new" class="mdc-button
                       mdc-button--raised
                       mdc-button--primary
                       mdc-ripple-surface"
                data-mdc-auto-init="MDCRipple"><%= t :new %></a>